name: PG Later Extension

defaults:
  run:
    shell: bash
    working-directory: ./

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "pglater-pg/**"

  push:
    branches:
      - main
    paths-ignore:
      - "pglater-pg/**"
  release:
    types:
      - created

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Rust minimal nightly with clippy and rustfmt
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "pg_later-extension-lint"
          workspaces: |
            pg_later/
          # Additional directories to cache
          cache-directories: |
            /home/runner/.pgrx
      - uses: ./.github/actions/pgx-init
        with:
          working-directory: ./
      - name: Cargo format
        run: cargo +nightly fmt --all --check
      - name: Clippy
        run: cargo clippy

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Rust stable toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "pg_later-extension-test"
          workspaces: |
            pg_later
          # Additional directories to cache
          cache-directories: |
            /home/runner/.pgrx
      - uses: ./.github/actions/pgx-init
        with:
          working-directory: ./
      - name: test
        run: |
          make setup
          echo "\q" | make run
          make test
      - name: Debugging information
        if: always()
        run: |
          set +e
          set -x
          echo "==== pg18 logs ======"
          cat ~/.pgrx/18.log
          echo "==== pg18 conf ======"
          tail -10 ~/.pgrx/data-18/postgresql.conf
          echo "==== .pgrx dir ======"
          ls -alh ~/.pgrx
